<div th:fragment="foot">
	<!-- <script th:src="@{js/vendor/jquery-2.1.4.min.js}"></script> -->
	<script th:src="@{js/jquery-3.3.1.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/plugins.js}"></script>
	<script th:src="@{js/main.js}"></script>
	
	
	<!--  flot-chart js -->
	<script th:src="@{js/lib/flot-chart/excanvas.min.js}"></script>
    
    <script th:src="@{js/lib/vector-map/jquery.vmap.js}"></script>
    <script th:src="@{js/lib/vector-map/jquery.vmap.min.js}"></script>
    <script th:src="@{js/lib/vector-map/jquery.vmap.sampledata.js}"></script>
    <script th:src="@{js/lib/vector-map/country/jquery.vmap.world.js}"></script>
    
    <script th:src="@{js/lib/data-table/datatables.min.js}"></script>
    <script th:src="@{js/lib/data-table/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{js/lib/data-table/dataTables.buttons.min.js}"></script>
    <script th:src="@{js/lib/data-table/buttons.bootstrap.min.js}"></script>
    <script th:src="@{js/lib/data-table/jszip.min.js}"></script>
    <script th:src="@{js/lib/data-table/pdfmake.min.js}"></script>
    <script th:src="@{js/lib/data-table/vfs_fonts.js}"></script>
    <script th:src="@{js/lib/data-table/buttons.html5.min.js}"></script>
    <script th:src="@{js/lib/data-table/buttons.print.min.js}"></script>
    <script th:src="@{js/lib/data-table/buttons.colVis.min.js}"></script>
    <script th:src="@{js/lib/data-table/datatables-init.js}"></script>
    <script th:src="@{js/fileinput.js}"></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
  
  </div>