<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)" lang="en">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>The NoteWiTCH</title>
<meta name="description" content="Note management system" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="apple-touch-icon" th:href="apple-icon.png" />
<link rel="shortcut icon" th:href="favicon.ico" />

<link rel="stylesheet" th:href="@{css/fileinput.css}" media="all"/>
<link rel="stylesheet" th:href="@{css/normalize.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{css/themify-icons.css}" />
<link rel="stylesheet" th:href="@{css/flag-icon.min.css}" />
<link rel="stylesheet" th:href="@{css/cs-skin-elastic.css}" />
<link rel="stylesheet" th:href="@{css/style.css}" />
<link th:href="@{css/lib/vector-map/jqvmap.min.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{css/lib/datatable/dataTables.bootstrap.min.css}"/>
<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
	rel='stylesheet' type='text/css' />
 <link rel="stylesheet" th:href="@{scss/style.css}"/>
 

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>

<body>
</body>
</html>